<web-app>
    <display-name>LifeCycleServlet</display-name>
    <servlet>
        <servlet-name>LifeCycle</servlet-name>
        <servlet-class>LifeCycleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LifeCycle</servlet-name>
        <url-pattern>/lifecycle</url-pattern>
    </servlet-mapping>
</web-app>
