# VS Code
.vscode/
**/.vscode/

# Java build output
bin/
**/bin/

# Maven / build targets
target/
**/target/

# Java class files (at any depth)
*.class
**/*.class

# Secrets and config
.env
**/.env
config.properties
**/config.properties

# Temp build artifacts
temp/**/bin/

Hangman-Java-Football-Edition/
/New Folder/test/nbproject/private/
/08_JSP_servlet/19-Ronish-servlet-session/nbproject/private/
/08_JSP_servlet/19-Ronish-servlet-session/build/
/08_JSP_servlet/20-Ronish-servlet-cookies/nbproject/private/
/08_JSP_servlet/20-Ronish-servlet-cookies/build/
/08_JSP_servlet/21-Ronish-jsp-cookies/nbproject/private/
/08_JSP_servlet/21-Ronish-jsp-cookies/build/

# NetBeans project private config (machine-specific paths)
**/nbproject/private/
**/build/

!JDBC_lib\mysql-connector-j-9.6.0\src\build